body {
	background: url(../img/bg5.jpg) no-repeat fixed center center / 100% auto rgba(0, 0, 0, 0);
}
.hero-text {
  text-align: left;
  position: absolute;
  top: 600px;
  left: 40%;
  transform: translate(-50%, -50%);
  color: #303030;
  font-family:Aharoni;
}

/******************************NAVIGATION*******************/
nav {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
	position: absolute;
	top: 0;
	z-index: 500;
	font-family:Cambria (Headings);
	margin-left:-300px;
}
.top-nav {
	background:;
	
}
.top-nav ul {
	padding: 0;
}
.logo {
	margin: 0;
	text-align: center;
	width: 100%;
}
.top-nav a {
	font-size: 1.2em;
	text-transform: uppercase;
}
.top-nav .logo a, .top-nav .logo.active-item a {
	color:;
	font-size: 1.4em;
	font-weight: 400;
	line-height: 1em;
}
.top-nav .logo a strong {
	font-size: 1.05em;
	font-weight: 800;
}
.top-nav {
	text-align: center;
}
.top-nav li a:hover, .top-nav li.active-item a, .top-nav .logo.active-item a:hover {
	background: none repeat scroll 0 0 ;
}

/*****************Form Module*******************/
.form-module {
  position: relative;
  background: none repeat scroll 0 0  rgba(24, 26, 26, 0.85);
  max-width: 380px;
  width: 100%;
  border-top: 5px solid #fbba20;
  border-bottom: 5px solid #fbba20;
  margin-left: 800px;
  top:-300px;
}
.form-module .toggle {
  position: absolute;
  width: 30px;
  height: 30px;
  margin: -5px 0 0;
  color: #ffffff;
  font-size: 12px;
  line-height: 30px;
  text-align: center;
}
.form-module .toggle .tooltip {
  position: absolute;
  top: 5px;
  right: -65px;
  display: block;
  background: rgba(0, 0, 0, 0.6);
  width: auto;
  padding: 5px;
  font-size: 10px;
  line-height: 1;
  text-transform: uppercase;
}
.form-module .toggle .tooltip:before {
  content: '';
  position: absolute;
  top: 5px;
  left: -5px;
  display: block;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid rgba(0, 0, 0, 0.6);
}
.form-module .form {
  display: none;
  padding: 40px;
}
.form-module .form:nth-child(2) {
  display: block;
}
.form-module h2 {
  margin: 0 0 20px;
  color: #33b5e5;
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
}
.form-module input {
  outline: none;
  display: block;
  width: 100%;
  border: 1px solid #d9d9d9;
  margin: 0 0 20px;
  padding: 10px 15px;
  box-sizing: border-box;
  font-wieght: 400;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.form-module input:focus {
  border: 1px solid #33b5e5;
  color: #333333;
}
.form-module button {
  cursor: pointer;
  background: transparent;
  width: 100%;
  border: 2;
  padding: 10px 15px;
  color: #ffffff;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.form-module button:hover {
  background: #178ab4;
}
