body {
	background: url("../img/bg2.jpg") no-repeat fixed center center / 100% auto rgba(0, 0, 0, 0);
}
/******************************NAVIGATION*******************/
nav {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
	position: absolute;
	top: 0;
	z-index: 500;
	font-family:Cambria (Headings);
	padding-left: 620px;
}
.top-nav {
	background:;
	
}
.top-nav ul {
	padding: 0;
}
.logo {
	margin: 0;
	text-align: center;
	width: 100%;
}
.top-nav a {
	font-size: 1.2em;
	text-transform: uppercase;
}
.top-nav .logo a, .top-nav .logo.active-item a {
	color: ;
	font-size: 1.4em;
	font-weight: 400;
	line-height: 1em;
}
.top-nav .logo a strong {
	font-size: 1.05em;
	font-weight: 800;
}
.top-nav {
	text-align: center;
}
.top-nav li a:hover, .top-nav li.active-item a, .top-nav .logo.active-item a:hover {
	background: none repeat scroll 0 0 ;
}
/*****LOGO******/
.top-nav li.logo a, .top-nav li.logo.active-item a, .top-nav .logo {
	background: none repeat scroll 0 0 whitesmoke;
	border: 5px solid #261206;
	color:black;
	text-align:center;
	font-size:110%;
	font-family:Franklin Gothic Demi;
}
/**********SEPERATED NAV***********/

nav ul li ul li {
	text-align: left;
}
.top-nav ul ul {
	background: none repeat scroll 0 0 
}
.top-nav li ul li a {
	background: none repeat scroll 0 0 
}
/*******************************TEXT & CONTAINER DOWN CAROUSEL********************/
#fourth-block h2 {
	color: #fff;
}
#fourth-block p {
	color: #fff;
}
#first-block, #second-block, #third-block, #fourth-block {
	text-align: center;
	padding: 4.5em 0;
}
/**#carousel {
	background: pink;
}**/
/**#first-block {
	background:none repeat scroll 0 0 rgba(38, 18, 6, 0.85)
}**/
#third-block  {
	color:#fff; 
	border:3px solid #fff;
}
#first-block h2 {
	color:#303030;
	font-family:Aharoni;
}
#second-block {
	color:#fff; 
	border:3px solid #fff;
}
#third-block h2 {
	color:#fff;
	font-family:Aharoni;
}
#fourth-block {
	background:#0b0b0d;
}
/**********FOOTER********/
footer {
	background: none repeat scroll 0 0 rgba(250, 169, 32, 0.80);
	padding: 1.5em 0;
}
footer p, footer a:link, footer a:visited, footer a:hover {
	color: #fff;
}
/****************************CAROUSEL TEXT********************/
.carousel-text {
	display: block;
	position: absolute;
	top: 25%;
	width: 100%;
	z-index: 999;
}
.carousel-text h2 {
	background: none repeat scroll 0 0 #fff;
	color: rgb(0, 30, 34);
	display: inline-block;
	padding: 0.3125em 0.625em;
	font-size: 2em;
}
.carousel-text p {
	background: none repeat scroll 0 0 rgba(0, 30, 34, 0.85);
	color: #fff;
	display: inline-block;
	font-size: 1.2em;
	padding: 0.625em 0.8em;
}
/*************************ICON DOWN********************/
#first-block i {
	background: none repeat scroll 0 0 #2fcbe0;
	border-radius: 100px;
	color: #fff;
	display: block;
	line-height: 100px;
	margin: 0 auto;
	width: 100px;
}
.icon{
	display: inline-block;
	top:20px;
	padding-right:2%;
}
section h2 {
	font-size: 2.5em;
	font-weight: 300;
	margin: 0;
	text-transform: uppercase;
}
p.subtitile {
	color:#fff;
	margin: 0 0 3.5em;
	font-size:20px;
}
section h3 {
	font-size: 1.3em;
	font-weight: 300;
	margin: 0.8em 0;
	text-transform: uppercase;
	color:#303030;
	font-family:Aharoni;
}
section p {
	font-size: 0.8em;
}
section h1 {
	color: #fff;
	font-size: 2.5em;
	font-weight: 300;
	text-transform: uppercase;
}
#second-block p {
	color: #fff;
}
/***********SOCIAL*****************/

.social li {
    display: inline;
}
/******************BTN1********************/
a.button {
	background: transparent;
	border:3px solid #fff;
	border-radius: 5px;
	color:#fff;
	font-size: 0.8em;
	font-weight: 600;
	padding: 0.625em;
	text-transform: uppercase;
	color:#fff;
}
/**********************HEADER2*******************/
#head {
	background: none repeat scroll 0 0 rgba(38, 18, 6, 0.85);
	padding: 15em 0 5em;
	text-align: left;
	padding-bottom:20px;
}
/**********************GALLEY CONTENT************/
#content {
	
	padding: 5em 0;
	text-align: center;
	border-bottom: 1px solid #f0f0f0;
}
#content h2 {
	font-size: 1.5em;
	font-weight: 400;
	margin: 1em 0 0.3em;
	text-transform: none;
}
.content-block {
	background: none repeat scroll 0 0 rgb(0, 30, 34);
	padding: 2.5em;
}
.content-block h3 {
	color: #fff;
}
.content-block p {
	color: #fff;
}
#content.left-align {
	text-align: left;
}
#content.contact-page h2 {
	margin: 0 0 0.625em;
}
.contact-page p {
	font-size: 1em;
	font-style: normal;
}
.contact-page i {
	background: none repeat scroll 0 0 rgb(0, 30, 34);
	border-radius: 100px;
	display: inline-block;
	height: 35px;
	line-height: 35px;
	margin: 0.3125em 0.3125em 0.3125em 0;
	text-align: center;
	width: 35px;
}
/*******************************OVERLAY GALLERY.HTML L1********************/
.container {
  position: relative;
  width: 100%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
  
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #fff;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
  opacity: 0.8;
}
.container:hover .overlay {
  bottom: 0;
  height: 100%;
}

.text {
  white-space: nowrap; 
  color: black;
  font-size: 20px;
  font-family:Aharoni;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  
}
/****************/
form.customform button {
	background: none repeat scroll 0 0 rgb(0, 30, 34);
	border-radius: 5px;
	transition: background 0.20s linear 0s;
	-o-transition: background 0.20s linear 0s;
	-ms-transition: background 0.20s linear 0s;
	-moz-transition: background 0.20s linear 0s;
	-webkit-transition: background 0.20s linear 0s;
}
form.customform button:hover {
	background: none repeat scroll 0 0 #2fcbe0;
}
form.customform input, form.customform select, form.customform textarea {
	border-radius: 5px;
}
#map-block iframe {
	display: block;
}
@media screen and (max-width: 768px) {
  body {
  	background: none repeat scroll 0 0 rgb(0, 30, 34);
  }
  nav {
  	background: none repeat scroll 0 0 rgb(0, 30, 34);
  	line-height: 1em;
  	position: relative;
  }
  .top-nav {
  	text-align: left;
  }
  .top-nav li {
  	line-height: 3em;
  }
  .top-nav .logo {
  	padding: 1.25em;
  }
  .carousel-text h2 {
  	font-size: 1.3em;
  }
  .carousel-text p {
  	font-size: 1em;
  }
  ul.top-ul {
  	padding: 0;
  }
  ul.top-ul.right {
  	float: none;
  }
  footer {
  text-align: center;
  }
  footer .right {
  float: none;
  }
}